.navigation {
    padding-top: 20px;
}

.header {
    margin-bottom: 29px;
}

.user-profile-cover {
    margin-bottom: 30px;
}

.user-profile-wrapper {
    display: flex;
    gap: 205px;
    margin-bottom: 40px;
}

/*-----user-profile-wrapper-left-side---------*/

/*----header----*/
.user-profile-header {
    display: flex;
    justify-content: space-between;
}

.user-profile-header-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-profile-header {
    margin-bottom: 17px;
}

.user-profile-header-wrapper h2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    color: #19202C;
}

.user-profile-header-wrapper p {
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

/*----nav-----*/
.user-profile-navigation {
    display: flex;
    gap: 68px;
    margin-bottom: 50px;
}

.user-profile-navigation a {
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    font-weight: normal;
}

.user-profile-navigation a:first-child {
    color: #FF0000;
}

.user-profile-navigation a:first-child::after {
    content: "";
    display: block;
    width: 50px;
    padding-top: 3px;
    border-bottom: 2px solid #FF0000;
}

/*-----video----*/
.user-profile-video {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile-video h2 {
    font-size: 26px;
    line-height: 34px;
    color: #19202C;
}

.user-profile-video-wrapper {
    max-width: 550px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/*-----user-profile-wrapper-right-side-----*/

.notific-subs {
    display: inline-flex;
    justify-content: end;
    align-items: flex-start;
    margin-right: 70px;
    gap: 22px;
}

.subs_btn {
    background: #FF0000;
    border-radius: 20px;
    width: 154px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.user-profile-recommended-channels {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.user-profile-recommended-channels div {
    display: flex;
    align-items: center;
    gap: 19px
}

.user-profile-recommended-channels div p {
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 700;
    color: #19202C;
}

.user-profile-wrapper-right-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*-----user-profile-video-list-----*/


.user-profile-video-list-header {
    font-family: 'Mulish';
    font-size: 26px;
    line-height: 33px;
    font-weight: 700;
    color: #19202C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 154px 27px 0;
}

.user-profile-video-list-items {
    display: flex;
    gap: 40px;
}

.user-profile-video-list-items div > div:first-child {
    position: relative;
    margin-bottom: 9px;
}

.user-profile-video-list-items .rectangle {
    position: absolute;
    top: 116px;
    right: 12px;
}

.user-profile-video-list-items > div > div:first-child > span {
    position: absolute;
    top: 119px;
    right: 22px;
    color: #FFFFFF;
    font-size: 14px;
}

.user-profile-video-list-items p {
    font-size: 16px;
    line-height: 12px;
    color: #19202C;
    margin-bottom: 8px;
    font-weight: 700;
}

.user-profile-video-list-items > div > div:last-child > span {
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
